html {
  height: 100%;
  box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

#footer-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center; }

.vertical-center {
  vertical-align: middle;
  text-align: center; }

.form-control {
  border-radius: 0; }

input {
  text-align: center; }

.a {
  text-decoration: none; }

.course-card {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3); }

.course-name {
  padding: 1em; }

.course-info {
  padding: 1em; }
